/* .proposed__challenge__box {
    height: 100px;
    width: 100px;
    list-style: none;
    display: block;
    /* display: flex;
    flex-wrap: nowrap;
    flex-direction: row; */
/* }

.proposed__challenges__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */